In [1]:
import pandas as  pd

In [54]:
df = pd.read_excel("FinancialDataClean.xlsx")

In [55]:
df.columns

Index(['Account', 'business_unit', 'Currency', 'Year', 'Scenario', 'Jan',
       'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',
       'Dec'],
      dtype='object')

In [56]:
df = df.melt(id_vars=['Account', 'business_unit', 'Currency', 'Year', 'Scenario',], value_vars=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dec'],var_name="Month", value_name="Sales")
df["Monat"] = df.Month.replace({"Jan" : "01","Feb" : "02","Mar" : "03","Apr" : "04","May" : "05","Jun" : "06","Jul" : "07","Aug" : "08","Sep" : "09","Oct" : "10","Nov" : "11","Dec" : "12"})
df["JahrMonat"] = df["Year"].astype("str") + df["Monat"]

In [61]:

round(df[(df["business_unit"] == "Software") & (df["Account"] == "Sales") & (df["Year"] == 2023)].Sales.sum() / 1000000)

1857

In [46]:
df

In [53]:
df.head()

,Account,business_unit,Currency,Year,Scenario,Month,Sales,Monat,JahrMonat
0,Sales,Software,USD,2012,Actuals,Jan,90924002.0,01,201201
1,Cost of Goods Sold,Software,USD,2012,Actuals,Jan,-41623278.0,01,201201
2,Commissions Expense,Software,USD,2012,Actuals,Jan,-4454359.0,01,201201
3,Payroll Expense,Software,USD,2012,Actuals,Jan,-9901680.0,01,201201
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,Jan,-951255.0,01,201201